<!--<p>
  list works! {{todos.length}}
</p>
<ul>
  <li *ngFor="let todo of todos">
    <div>
      <input type="checkbox" [checked]="todo.complete" (toggleComplete)="todo.toggle()">
      <label>{{todo.title}}</label>
      <button (click)="destroy(todo)">Remove</button>
    </div>
  </li>-->
<!--</ul>-->



      <section class="main" *ngIf="todos.length > 0">
        <ul class="todo-list">
          <li *ngFor="let todo of todos" [class.completed]="todo.complete">
            <div class="view">
              <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
              <label>{{todo.title}}</label>
              <button class="destroy" (click)="removeTodo(todo)">Delete</button>
            </div>
          </li>
        </ul>
      </section>